dtd_xml/Mensajeria.dtd

<!ELEMENT mensajeria (pedido)*>
<!ELEMENT pedido (destinatario, produco+, diaEntrega)>
<!ELEMENT destinatario (nombre, direccion)>
<!ATTLIST destinatario codCliente ID #IMPLIED>
<!ELEMENT producto (tipo, importe)>
<!ELEMENT diaEntrega (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT importe (#PCDATA)>
